.errorpage {
  position: absolute;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.error-image {
  position: absolute;
  top: 25%;
  left: calc(50% - 10rem);
  width: 20rem;
  height: auto;
}

.text-nothing {
  position: absolute;
  top: calc(25% + 160px);
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  white-space: pre;
  text-align: center;
  line-height: 1.5;
  font-size: 2.5rem;
  color: rgb(52, 58, 64);
  margin-top: 2rem;
}

.btn-returnhome {
  position: absolute;
  top: calc(25% + 290px);
  left: calc(50% - 3rem);
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: rgb(18, 184, 134);
  color: white;
  border-radius: 4px;
  padding: 0px 1.125rem;
  width: 6rem;
  height: 2.5rem;
  font-size: 1.125rem;
}

.setting-page{
  width: 100vw;
  height: 100vh;

  .main{
    margin-top: 9rem;
    margin-left: auto;
    margin-right: auto;
    width: 768px;
    padding-bottom: 5rem;

    .info{
      display: flex;
      height: 13.75rem;

      .thumbnail-area{
        padding-right: 1.5rem;
        display: flex;
        flex-direction: column;

        .thumbnail-box{
          object-fit: cover;
          width: 8rem;
          height: 8rem;
          border-radius: 50%;
          display: block;
          margin-bottom: 1.25rem;
        }
        .upload-input{
          display: none;
        }

        .upload-btn{
          display: inline-flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          font-weight: bold;
          cursor: pointer;
          outline: none;
          border: none;
          background: rgb(18, 184, 134);
          color: white;
          border-radius: 4px;
          padding: 0px 1.25rem;
          height: 2rem;
          font-size: 1rem;
        }

        .delete-btn{
          margin-top: 0.5rem;
          display: inline-flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          font-weight: bold;
          cursor: pointer;
          outline: none;
          border: none;
          background: none;
          color: rgb(18, 184, 134);
          border-radius: 4px;
          padding: 0px 1.25rem;
          height: 2rem;
          font-size: 1rem;
        }
      }

      .info-area{
        flex: 1 1 0%;
        padding-left: 1.5rem;
        border-left: 1px solid rgb(233, 236, 239);

        h2{
          font-size: 2.25rem;
          margin: 0px;
          line-height: 1.5;
          color: rgb(52, 58, 64);
        }

        p{
          font-size: 1rem;
          margin-top: 0.25rem;
          margin-bottom: 0.5rem;
          line-height: 1.5;
          color: rgb(134, 142, 150);
        }

        .insert{
          outline: none;
          padding: 0px;
          border: none;
          display: inline;
          font-size: 1rem;
          line-height: 1.5;
          color: rgb(18, 184, 134);
          text-decoration: underline;
          background: none;
          cursor: pointer;
        }

        .write-name{
          display: block;
          font-size: 1.5rem;
          font-weight: 600;
          border: 1px solid rgb(222, 226, 230);
          background: white;
          padding: 0.5rem;
          color: rgb(73, 80, 87);
          line-height: 1rem;
          outline: none;
          border-radius: 4px;
          width: 90%;
        }
        .write-name:focus{
          border: 1px solid rgb(33, 37, 41);
        }

        .write-short{
          display: block;
          margin-top: 10px;
          border: 1px solid rgb(222, 226, 230);
          background: white;
          padding: 0.5rem;
          color: rgb(73, 80, 87);
          font-size: 1rem;
          line-height: 1rem;
          outline: none;
          border-radius: 4px;
          width: 90%;
        }
        .write-short:focus{
          border: 1px solid rgb(33, 37, 41);
        }

        .write{
          display: inline-flex;
          margin-top: 10px;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          font-weight: bold;
          cursor: pointer;
          outline: none;
          border: none;
          background: rgb(18, 184, 134);
          color: white;
          border-radius: 4px;
          padding: 10px 1.25rem;
          height: 2rem;
          font-size: 1rem;
        }
      }
    }

    .custom{
      margin-top: 4rem;
      display: block;
      box-sizing: inherit;

      .custom-list{
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: block;
        box-sizing: inherit;
        border-top: 1px solid rgb(233, 236, 239);

        .title-btn-wrapper{
          width: 34.5rem;
          margin-top: 1.5rem;
          display: flex;
          -webkit-box-pack: end;
          justify-content: flex-end;

          .title-cancel{
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            font-weight: bold;
            cursor: pointer;
            outline: none;
            border: none;
            background: rgb(134, 142, 150);;
            color: white;
            border-radius: 4px;
            padding: 0px 1.25rem;
            height: 2rem;
            font-size: 1rem;
          }

          .title-save{
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            font-weight: bold;
            cursor: pointer;
            outline: none;
            border: none;
            background: rgb(18, 184, 134);
            color: white;
            border-radius: 4px;
            padding: 0px 1.25rem;
            height: 2rem;
            font-size: 1rem;
            margin-left: 0.5rem;
          }
        }


        .wrapper{
          display: flex;

          .title-wrapper{
            width: 9.5rem;
            flex-shrink: 0;

            .list-title{
              width: 9.5rem;
              flex-shrink: 0;
              line-height: 1.5;
              color: rgb(52, 58, 64);
              margin: 0px;
              font-size: 1.125rem;
              font-weight: bold;
            }
          }

          .info-block{
            flex: 1 1 0%;
            display: flex;
            -webkit-box-align: center;
            align-items: center;

            .contents{
              flex: 1 1 0%;
              font-size: 1rem;
              color: rgb(73, 80, 87);
              line-height: 1.5;

              .social-form{
                width: 25rem;

                .social-list{
                  display: flex;
                  -webkit-box-align: center;
                  align-items: center;
                  margin-bottom: 15px;

                  .social-icon{
                    width: 1rem;
                    height: 1rem;
                    font-size: 1rem;
                    margin-right: 0.5rem;
                    flex-shrink: 0;
                  }

                  .facebook-div{
                    flex: 1 1 0%;
                    display: flex;
                    border: 1px solid rgb(222, 226, 230);
                    background: white;
                    padding: 0.5rem;
                    color: rgb(73, 80, 87);
                    font-size: 1rem;
                    line-height: 1rem;
                    outline: none;
                    border-radius: 4px;
                    height: 2rem;
                    -webkit-box-align: center;
                    align-items: center;

                    .facebook-input{
                      padding: 0px;
                      border: 0px;
                      outline: none;
                      font-size: 1rem;
                      line-height: 1;
                      flex: 1 1 0%;
                      width: 100%;
                    }
                  }

                  .social-input{
                    display: block;
                    border: 1px solid rgb(222, 226, 230);
                    background: white;
                    padding: 0.5rem;
                    color: rgb(73, 80, 87);
                    font-size: 1rem;
                    line-height: 1rem;
                    outline: none;
                    border-radius: 4px;
                    width: 100%;
                  }
                }

                .btn-wrapper{
                  margin-top: 1.5rem;
                  display: flex;
                  -webkit-box-pack: end;
                  justify-content: flex-end;

                  .social-cancel{
                    display: inline-flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    font-weight: bold;
                    cursor: pointer;
                    outline: none;
                    border: none;
                    background: rgb(134, 142, 150);;
                    color: white;
                    border-radius: 4px;
                    padding: 0px 1.25rem;
                    height: 2rem;
                    font-size: 1rem;
                  }

                  .social-save{
                    display: inline-flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    font-weight: bold;
                    cursor: pointer;
                    outline: none;
                    border: none;
                    background: rgb(18, 184, 134);
                    color: white;
                    border-radius: 4px;
                    padding: 0px 1.25rem;
                    height: 2rem;
                    font-size: 1rem;
                    margin-left: 0.5rem;
                  }
                }
              }
            }
          }
        }

        .list-style{
          display: flex;
          box-sizing: inherit;

          .insert{
            outline: none;
            padding: 0px;
            border: none;
            display: inline;
            font-size: 1rem;
            line-height: 1.5;
            color: rgb(18, 184, 134);
            text-decoration: underline;
            background: none;
            cursor: pointer;
          }

          .list-title{
            width: 9.5rem;
            flex-shrink: 0;
            line-height: 1.5;
            color: rgb(52, 58, 64);
            margin: 0px;
            font-size: 1.125rem;
            font-weight: bold;
          }

          .title-input{
            display: block;
            border: 1px solid rgb(222, 226, 230);
            background: white;
            padding: 0.5rem;
            color: rgb(73, 80, 87);
            font-size: 1rem;
            line-height: 1rem;
            outline: none;
            border-radius: 4px;
            width: 23rem;
          }

          .list-info{
            flex: 1 1 0%;
            font-size: 1rem;
            color: rgb(73, 80, 87);
            line-height: 1.5;


            .resign-btn{
              display: inline-flex;
              -webkit-box-align: center;
              align-items: center;
              -webkit-box-pack: center;
              justify-content: center;
              font-weight: bold;
              cursor: pointer;
              outline: none;
              border: none;
              background: rgb(255, 107, 107);
              color: white;
              border-radius: 4px;
              padding: 0px 1.25rem;
              height: 2rem;
              font-size: 1rem;
            }
          }

          .list-info-btn{
            display: flex;
            -webkit-box-align: center;
            align-items: center;

            .list-info-btn-title{
              width: 14rem;
            }

            .btn-on{
              display: inline-flex;
              -webkit-box-align: center;
              align-items: center;
              -webkit-box-pack: center;
              justify-content: center;
              font-weight: bold;
              cursor: pointer;
              outline: none;
              border: none;
              background: rgb(18, 184, 134);
              color: white;
              border-radius: 4px;
              padding: 0px 1.125rem;
              height: 2.5rem;
              font-size: 1.125rem;

            }
            .btn-off{
              display: inline-flex;
              -webkit-box-align: center;
              align-items: center;
              -webkit-box-pack: center;
              justify-content: center;
              font-weight: bold;
              cursor: pointer;
              outline: none;
              border: none;
              background: rgb(134, 142, 150);
              color: white;
              border-radius: 4px;
              padding: 0px 1.125rem;
              height: 2.5rem;
              font-size: 1.125rem;

            }
          }
        }

        .explanation{
          margin-top: 0.875rem;
          color: rgb(134, 142, 150);
          font-size: 0.875rem;
        }
      }
    }
  }
}