.tagtotalpage {
  position: absolute;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow: scroll;

  .post-tag-href {
    text-decoration: none;
  }

  .post-tag-item {
    margin-bottom: 0.875rem;
    background: rgb(241, 243, 245);
    padding-left: 1rem;
    padding-right: 1rem;
    height: auto;
    border-radius: 1rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 0.875rem;
    color: rgb(12, 166, 120);
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
  }

  @media (min-width: 769px) {
    .tag-title {
      position: absolute;
      top: 120px;
      width: 768px;
      left: calc((100% - 768px) / 2);
      font-size: 2rem;
    }

    .tag-search-info {
      position: absolute;
      top: 210px;
      width: 768px;
      height: auto;
      left: calc((100% - 768px) / 2);
      font-size: 1.125rem;
    }

    .post-tag-list {
      position: absolute;
      top: 260px;
      width: 768px;
      height: auto;
      left: calc((100% - 768px) / 2);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-block-start: 1.5em;
      margin-block-end: 0em;
      padding-inline-start: 0px;
    }
  }

  @media (max-width: 768px) {
    .tag-title {
      position: absolute;
      top: 120px;
      left: 5%;
      width: 90%;
      font-size: 2rem;
    }

    .tag-search-info {
      position: absolute;
      top: 210px;
      width: 90%;
      height: auto;
      left: 5%;
      font-size: 1.125rem;
    }

    .post-tag-list {
      position: absolute;
      top: 260px;
      left: 3%;
      width: 94%;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-block-start: 1.5em;
      margin-block-end: 0em;
      padding-inline-start: 0px;
    }
  }
}
