.searchpage{

  margin: 0px;
  width: 100vw;
  height: 100vh;

  .searchpage-icon{
    position: absolute;
    color: gainsboro;
    top: 10px;
    left: 20px;
    width: 50px;
    height: 50px;
  }
  .searchbox{
    position: absolute;
    top: 120px;
    left: 200px;
    right: 200px;
    height: 70px;
    border: 2px solid gainsboro;

    .search-input{
      position: absolute;
      font-size: 30px;
      right: 1px;
      height: 65px;
      width: 770px;
      outline: none;
      border: none;
    }
  }


}
