.header {
  @media (min-width: 1057px) {
    position: absolute;
    top: 20px;
    left: calc((100% - 1056px) / 2);
    right: 20px;
    height: 55px;
    width: 1056px;
  }
  @media (max-width: 1056px) {
    position: absolute;
    top: 20px;
    height: 55px;
    width: 100%;
  }
  .main-title {
    position: absolute;
    height: 100%;
    top: 10px;
    width: 5%;
    font-size: 24px;
    left: 65px;
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    letter-spacing: -1px;
    cursor: pointer;
  }

  .page-title {
    position: absolute;
    height: 100%;
    top: 10px;
    max-width: calc(100vw - 330px);
    font-size: 24px;
    left: 65px;
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    letter-spacing: -1px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .logo {
    position: absolute;
    top: 5px;
    height: 40px;
    width: 40px;
    left: 10px;
    cursor: pointer;

    .logo-img {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  .search-icon {
    position: absolute;
    top: 6px;
    height: 22px;
    width: 22px;
    right: 240px;
    padding: 10px;
    cursor: pointer;
  }

  .search-icon:hover {
    position: absolute;
    top: 6px;
    height: 22px;
    width: 22px;
    right: 240px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    background-color: rgba(218, 218, 218, 0.3);
  }

  .search-icon-unlogin {
    position: absolute;
    top: 6px;
    height: 22px;
    width: 22px;
    right: 120px;
    padding: 10px;
    cursor: pointer;
  }

  .search-icon-unlogin:hover {
    position: absolute;
    top: 6px;
    height: 22px;
    width: 22px;
    right: 120px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    background-color: rgba(218, 218, 218, 0.3);
  }

  .user-profile {
    position: absolute;
    background: #6e6ed3;
    height: 100%;
    width: 5%;
    right: 10px;
  }

  .btn-write {
    position: absolute;
    right: 125px;
    top: 10px;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px;
    outline: none;
    font-weight: bold;
    word-break: keep-all;
    background: rgb(245, 245, 245);
    transition: all 0.125s ease-in 0s;
    cursor: pointer;
  }

  .btn-write:hover {
    position: absolute;
    right: 125px;
    top: 10px;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-weight: bold;
    word-break: keep-all;
    background: rgb(52, 58, 64);
    color: white;
    transition: all 0.125s ease-in 0s;
    cursor: pointer;
  }

  .btn-login {
    position: absolute;
    right: 20px;
    top: 10px;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-weight: bold;
    word-break: keep-all;
    background: rgb(52, 58, 64);
    color: white;
    transition: all 0.125s ease-in 0s;
    cursor: pointer;
  }

  .btn-login:hover {
    opacity: 0.5;
  }
}

.user-box {
  position: absolute;
  display: flex;
  right: 5px;
  height: 55px;
  width: 90px;

  .profile-img {
    width: 47px;
    height: 47px;
    border-radius: 70%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 6%) 0px 0px 4px 0px;
    align-items: center;
    cursor: pointer;

    .user-img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .option-btn {
    position: relative;
    margin-top: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
    color: rgb(134, 142, 150);
    transition: all 0.125s ease-in 0s;
    cursor: pointer;
  }
}

.custom-select {
  @media (min-width: 1057px) {
    right: calc(50% - 508px);
  }
  @media (max-width: 1056px) {
    right: 20px;
  }
  position: absolute;
  display: inline-block;
  top: 80px;
  z-index: 5;
  width: 12rem;
  background: white;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;

  .op-1 {
    position: relative;
    color: rgb(33, 37, 41);
    padding: 0.75rem 1rem;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
  }
  .op-2 {
    position: relative;
    color: rgb(33, 37, 41);
    padding: 0.75rem 1rem;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
  }
  .op-3 {
    position: relative;
    color: rgb(33, 37, 41);
    padding: 0.75rem 1rem;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
  }
  .op-4 {
    position: relative;
    color: rgb(33, 37, 41);
    padding: 0.75rem 1rem;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
  }
}
