.title-wrap{
  height: auto;
  width: 100%;
  align-items: center;
  align-content: center;
}

.title-style{
  display: block;
  font-size: 2.75rem;
  width: 90%;
  resize: none;
  line-height: 1.5;
  outline: none;
  border: none;
  font-weight: bold;
  color: rgb(33, 37, 41);
  padding-left: 40px;
  padding-top: 50px;
  align-items: center;
  align-content: center;
  height: auto;
}