.postpage {
  position: absolute;
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

.post-main-section {
  width: 768px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  //border: solid;
}

.post-title {
  font-size: 3rem;
  line-height: 1.5;
  letter-spacing: -0.004em;
  margin-top: 0px;
  font-weight: 800;
  color: rgb(52, 58, 64);
  margin-bottom: 2rem;
  word-break: keep-all;
}

.post-information-section {
  font-size: 1rem;
  color: rgb(73, 80, 87);
}

.post-user-id {
  color: rgb(52, 58, 64);
  font-weight: bold;
}

.post-separator {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.post-datetime {
}

.post-content {
  margin-top: 50px;
}

@media (min-width: 1024px) {
  .post-like-section {
    position: fixed;
    top: 300px;
    left: 30px;
    width: 4rem;
    background: rgb(248, 249, 250);
    border: 1px solid rgb(241, 243, 245);
    border-radius: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
  }

  .post-like-wrapper {
    height: 3rem;
    width: 3rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: white;
    border: 1px solid rgb(173, 181, 189);
    border-radius: 1.5rem;
    color: rgb(134, 142, 150);
    cursor: pointer;
    z-index: 5;
  }

  .post-like-count {
    margin-top: 0.5rem;
    color: rgb(73, 80, 87);
    line-height: 1;
    font-size: 0.75rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .icon-heart {
    width: 1.5rem;
    height: 1.5rem;
    color: red;
  }

  .icon-heart-path {
    fill: currentcolor;
    d: path("M 18 1 l -6 4 l -6 -4 l -6 5 v 7 l 12 10 l 12 -10 v -7 Z");
  }

  .icon-link {
    width: 1.5rem;
    height: 1.5rem;
    color: black;
  }

  .post-scroll-top{
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }

}

@media (max-width: 1023px) {

  .post-information-section {
    line-height: 3rem;
    height: 3rem;
    font-size: 1rem;
    color: rgb(73, 80, 87);
    display: flex;
  }

  .post-like-section {
    margin-left: 1rem;
    width: 6rem;
    background: rgb(248, 249, 250);
    border: 1px solid rgb(241, 243, 245);
    border-radius: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
  }

  .post-like-wrapper {
    height: 2rem;
    width: 2rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: white;
    border: 1px solid rgb(173, 181, 189);
    border-radius: 1.5rem;
    color: rgb(134, 142, 150);
    cursor: pointer;
    z-index: 5;
    //margin-right: 0.5rem;
  }

  .post-like-count {
    width: 1.5rem;
    text-align: center;
    margin-top: 0.75rem;
    color: rgb(73, 80, 87);
    line-height: 1;
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
    font-weight: bold;
  }

  .icon-heart {
    width: 1rem;
    height: 1rem;
    color: red;
  }

  .icon-heart-path {
    fill: currentcolor;
    d: path("M 18 1 l -6 4 l -6 -4 l -6 5 v 7 l 12 10 l 12 -10 v -7 Z");
  }

  .icon-link {
    width: 1.5rem;
    height: 1.5rem;
    color: black;
  }

  .post-scroll-top {
    margin: 0;
    width: 0;
    visibility: hidden;
  }
}

.post-user-section {
  width: 768px;
  margin-top: 16rem;
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  //border: solid;
}

.post-user-info {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.post-user-image {
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgb(0 0 0 / 6%) 0px 0px 4px 0px;
}

.post-user-text {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  margin-left: 1rem;
}

.post-user-name {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: rgb(33, 37, 41);
}

.post-user-intro {
  white-space: pre-wrap;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  color: rgb(73, 80, 87);
  letter-spacing: -0.004em;
}

.post-user-division {
  background: rgb(233, 236, 239);
  width: 100%;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.post-user-sns {
  color: rgb(173, 181, 189);
  display: flex;
}

.href-sns {
  color: rgb(173, 181, 189);
}

.icon-sns {
  width: 40px;
  height: 40px;
}

.icon-sns:hover {
  color: black;
}

.post-comments-section{
  margin-top: 3rem;
  color: rgb(52, 58, 64);
  //border: solid;
}

.post-comments-count {
  ont-size: 1.125rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 1rem;
}

.post-comments-input {
  resize: none;
  padding: 1rem 1rem 1.5rem;
  outline: none;
  border: 1px solid rgb(233, 236, 239);
  margin-bottom: 1.5rem;
  width: 100%;
  border-radius: 4px;
  min-height: 6.125rem;
  font-size: 1rem;
  color: rgb(33, 37, 41);
  line-height: 1.75;
  box-sizing: border-box;
  font-family: inherit;
}

.post-comments-button-wrapper {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.post-comments-button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: rgb(18, 184, 134);
  color: white;
  border-radius: 4px;
  padding: 0px 1.25rem;
  height: 2rem;
  font-size: 1rem;
}

.post-comments-list {
  padding-bottom: 6rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}